body {
    background-color: rgb(98, 122, 42);

}

label {
    display: block;
    text-align: center;
    background-color: rgb(149, 175, 30);
}
div img {
    height: 150px;
    margin-bottom: 100px;
    display: block;         
    margin: auto;
}

div {
    background-color: rgb(149, 175, 30);
    padding: 150px 50px;
    width:fit-content;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
}
button {
    margin: auto;
    width: fit-content;
    display: block;
    border-radius: 25px;
}

    
    